# Terraform
.terraform/
.terraform.tfstate.lock.info
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Lambda build output (bin/obj already covered by the root .gitignore)
publish/
*.zip
